<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="users-list-wrapper">
      <div class="card">
        <div class="card-body">
          <h1 style="padding-bottom: 20px !important">Food Supplier Management</h1>
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-2">
                  <div class="d-flex pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0"><input [(ngModel)]="searchValue"
                        placeholder="Search" name="searchValue" type="search" class="form-control ml-25"
                        (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" /></label>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex pr-1 pb-1 pb-md-0">
                    <fieldset class="form-group">
                      <ng-select [items]="selectStatus" [(ngModel)]="selectedStatus" name="selectedStatus"
                        bindLabel="name" placeholder="Status" (change)="filterByStatus($event)"></ng-select>
                    </fieldset>
                  </div>
                </div>

                <!-- <div class="col-12 col-md-4" style="display: flex; justify-content: flex-end">
                  <button class="btn btn-primary ml-1" rippleEffect (click)="onExport()"
                    style="height: 40px !important"><i data-feather="plus"
                      class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
                      class="d-none d-sm-inline-block">Export</span></button>
                </div> -->

                <div ngbDropdown class="col-12 col-md-4 nav-item dropdown-user"
                  style="display: flex; justify-content: flex-end">
                  <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" ngbDropdownToggle
                    id="navbarUserDropdown" aria-haspopup="true">
                    <button class="btn btn-primary ml-1" rippleEffect style="height: 40px !important"><i
                        data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
                        class="d-none d-sm-inline-block">Export</span></button>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="navbarUserDropdown">
                    <!-- <div class="dropdown-divider"></div> -->
                    <a ngbDropdownItem (click)="downloadFile('pdf')"><span [class]="'mr-50'"></span>Pdf</a>
                    <a ngbDropdownItem (click)="downloadFile('csv')">
                      <span [class]="'mr-50'"></span>CSV</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
          [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">

          <ngx-datatable-column name="Company Name" prop="name" [width]="220">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a class="font-medium-1 d-block"><span class="font-weight-bold"
                      ngbTooltip="{{row.name}}">{{row?.name.substring(0,15)}}</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Location" prop="location" [width]="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a class="font-medium-1 d-block"><span class="font-weight-bold">{{ row?.location }}</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Email Address" prop="email" [width]="250"></ngx-datatable-column>

          <ngx-datatable-column name="Phone number" prop="phoneNumber" [width]="170"></ngx-datatable-column>
          <ngx-datatable-column name="Awards" prop="awardTitle" [width]="220">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a class="font-medium-1 d-block"><span class="font-weight-bold"
                      ngbTooltip="{{row.awardTitle}}">{{row?.awardTitle?.substring(0,20)}}..</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Qualifications" prop="certificationCategoryName" [width]="220">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a class="font-medium-1 d-block"><span class="font-weight-bold"
                      ngbTooltip="{{row.certificationCategoryName}}">{{
                      row?.certificationCategoryName?.substring(0,15)}}...</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Services" prop="businessActivityCategoryName" [width]="220">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a class="font-medium-1 d-block"><span class="font-weight-bold"
                      ngbTooltip="{{row.businessActivityCategoryName}}">{{
                      row?.businessActivityCategoryName?.substring(0,15)}}...</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Status" [width]="110">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <div class="custom-control custom-control-primary custom-switch">
                    <input class="custom-control-input" type="checkbox" [id]="row.id"
                      [checked]="row?.subscriptionStatus" (click)="statusUpdate(row)" />
                    <label class="custom-control-label" [htmlFor]="row.id"></label>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Actions" [width]="100" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div container="body">
                <button type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect
                  (click)="deleteSupplier(row.id)">
                  <span [data-feather]="'trash'" [class]="'cursor-pointer'"></span>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!-- <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">
                <select class="form-control mx-25" [(ngModel)]="pagesize" (change)="onChangePageSize()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end"></div>
        </div> -->
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">
                <select class="form-control mx-25" [(ngModel)]="pagesize" (change)="onChangePageSize()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end"></div>
        </div>
      </div>
    </section>
  </div>
</div>