@import '@core/scss/base/pages/page-auth.scss';
.login-bg-img{
    height: 100%;
    width: 100%;
    object-fit: cover
  }
  .login-bg-logo{
    position: absolute;
    padding: 40px;
    top:6px
  }
  .login-bg-div{
    background: url('../../../assets/images/img/login-bg.jpg') 0 0 no-repeat;
    // background: url('../../../assets/images/login-bg.jpg') 0 0 no-repeat;
    background-size: 100%;
    height: 100vh;
    padding-top: 86px;
    display: grid;
    align-items: center;
  }
  .form-label{
    font-weight: 800;
  }
  .card-title{
    font-weight: 800;
    margin-bottom: 5px !important;
  }
  .left-box {
    position: relative;
    padding-right: 20px;
    width: 60%;
    padding-left: 40px;
  }
  .left-box::after {
    content: "";
    display: block;
    width: 252.21px;
    height: 6.94px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) -6.12%, rgba(255, 255, 255, 0.38) 51%, #FFFFFF 100%);
    border-radius: 2.31389px;
  }
  .left-box p {
    font-size: 13.8833px;
    line-height: 140%;
    letter-spacing: 0.0771296px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 20px;
  }
